* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: 0;
    outline: none;
    text-decoration: none;
    list-style: none;
}

body {
    background-color: black;
}


.logo {
    display: flex;
    justify-content: center;
    background-color: antiquewhite;
    margin: 1rem;
    position: absolute;
    margin-right: 3vh;
}

.topbar{
    margin: 0.5rem;
    padding: 2rem;
    height: 6rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(9, 6, 155);
}

.logo img {
    height: 90px;
    filter: drop-shadow(2px 2px 10px rgb(146, 13, 13));
}

.navbar {
    width: fit-content;
    background-color: aqua;
    display: flex;
    position: absolute;
    right: 0;
    margin-right: 2rem;
    flex-direction: row;
    gap: 1.5rem;
}

.navbar ul {
    display: flex;
    list-style: none;
}

.navbar li {
    margin: 0 1rem; 
}

.navbar a {
    color: white; 
    font-size: 1rem;
    transition: color 0.3s ease;
}

.navbar a:hover {
    color: lightgray;
}

.main-pag {
    display: flex;
    flex-direction: column;
    background-color: aliceblue;
    gap: 3rem;
    padding: 1rem;
    margin: 2rem;
    height: 100%;
}

.main-pag-left {
    display: flex;
    flex-direction: column;
    background-color: green;
    height: 100vh;
    width: 160vh;
    margin: 2rem;
    margin-right: 1rem;
    margin-bottom: 1rem;
    border-radius: 5px;
    gap: 2rem;
}

.main-pag-left-top {
    background-color: brown;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 3rem;
    margin-bottom: 1rem;
    height: 20vh;
    width: 131vh;
}

.main-pag-left-left {
    background-color: aliceblue;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 55vh;
    height: 50vh;
    margin: 2rem;
    margin-right: 1rem;
}

.main-pag-container-left-bot{
    background-color: rgb(219, 129, 12);
    display: flex;
    flex-direction: row;
    width: 131vh;
    justify-content: space-between; 
    align-items: center;
    gap: 1rem; 
    margin: 3rem;
}

.main-pag-left-right{
    background-color: white;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 55vh;
    height: 50vh;
    margin: 2rem;
    margin-left: 1rem;
}

.main-pag-right{
    background-color: rgb(153, 91, 11); 
    height: 100vh;
    width: 40vh;
    margin: 2rem;
    margin-left: 1rem;
    margin-bottom: 1rem;
}

.container-main-pag-leftside-rightside{
    display: flex;
    flex-direction: row;
}

.main-pag-right-top{
   background-color: black;
    box-shadow: rgba(255, 0, 0, 0.9) 0px 0px 20px;
    width: 40vh;
    height: 100vh;
    display: flex;
    border-radius: 5px;
}
.main-pag-bot{
    background-color: rgb(10, 57, 99);
    display: flex;
    justify-content: space-between;
    margin: 2rem;
    margin-top: 1rem;
    height: 100vh;
}

.main-pag-bot-left{
    background-color: brown;
    margin: 3rem;
    width: 55vh;
    height: 88vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container-main-pag-bot-right{
    background-color: blueviolet;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 1.5rem;
    height: 88vh;
    margin: 3rem;
    margin-bottom: 2.5rem;
    width: 100vh;
}

.main-pag-bot-right-top{
    background-color: azure;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40vh;
}

.main-pag-bot-right-bot{
    background-color: azure;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40vh;
}

footer{
    padding: 1rem 0 2rem 2rem;
    border-top: 2px;
    box-shadow: rgba(255, 0, 0, 0.9) 0px 0px 20px;
    margin-top: 8rem;
    height: 7.5rem;
    background-color: black;
}

.footer-pag img {
    height: 90px;
    padding-top: 10px;
    filter: drop-shadow(2px 2px 10px rgb(146, 13, 13));
}