* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: black;
    height: 100%;
}

.top-pag {
    display: flex;
    justify-content: center;
    align-items: center;
}

img {
    height: 100%;
    width: 200px;
}