* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: black;
    background-image: var();
    font-family: "Rubik", sans-serif;
    font-optical-sizing: auto;
    font-weight: 5px;
    font-style: normal;
}

#bg {
    position: fixed;
    background-attachment: scroll;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    z-index: -1;
}

.top-pag {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 6rem;
}

.main-pag {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 3rem;
    gap: 3rem;
    height: 105vh;
}

.top-pag img {
    height: 90px;
    padding-top: 10px;
    filter: drop-shadow(2px 2px 10px rgb(146, 13, 13));
}

/*.contato{
    display: flex;
    flex-direction: column;    
    width: 35%;
    height: 80vh;
    justify-content: center;
    align-content: center;
    align-items: center;
    background-color: #b3b3b3;
    text-decoration: none;    
    filter: drop-shadow( 3px 3px 10px rgb(146, 13, 13));
}

.contato h1{
    font-size: 3rem;
    margin-top: 1rem;
    margin-bottom: 2rem;
}

.contato form{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: large;    
}*/


.contato form textarea{
    width: 20rem;
    height: 5rem;
}

.contato form input{
    width: 15rem;
    height: 2rem;
}

.contato form input[type="submit"]{
    background-color: black;
    color: white;
    filter: drop-shadow(2px 2px 10px rgb(146, 13, 13))    
}

.contato form input[type="submit"]:hover{
    filter: drop-shadow(3px 3px 10px rgb(192, 0, 0));
    scale: 1.009;
}

.footer-pag {
    display: flex;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 1rem 0 2rem 2rem;
    border-top: 2px;
    box-shadow: rgba(255, 0, 0, 0.9) 0px 0px 20px;
    margin-top: 7rem;
    height: 8.5rem;
    width: 100%;
    background-color: black ;
}

.footer-pag img {
    text-decoration: none;
    height: 6rem;
    width: 6rem;
    padding-top: 10px;
    filter: drop-shadow(2px 2px 10px rgb(146, 13, 13));
}

.image-animation{    
    display: flex;
    padding-bottom: 0rem;
    position: relative;
    animation: slide 20s infinite; /* Animação infinita de 5 segundos */
}

.xenomorph{
    display: flex;
    width: 95%;
}

@keyframes slide {
    0% {
        left: 0;
        transform: scaleX(-1);
    }
    50% {
        left: 95%;
        transform: scaleX(-1);
    }
    51%{
        transform: scaleX(1);
    }

    100% {
        left: 0;
        transform: scaleX(1);
    }
}

@media only screen and (max-width: 1000px) {
    body {
    background-size: 100% 6%;
    }

    .contato{
        width: 100%;
        height: 80vh;
    }

    .contato h1{
        font-size: 2rem;
    }

    .top-pag {
        height: 10rem;
    }

    .top-pag-logo {
        height: 55px;
        margin-left: 20px;
    }

    .main-pag {
        display: flex;
        flex-direction: column;
        margin: 1rem;
        gap: 2rem;
    }

    .main-pag-left{
        width: 100%;
    }

    .main-pag-left-bottom {
        display: grid;
        background-color: rgba(0, 0, 0, 0.911);
        box-shadow: rgba(255, 0, 0, 0.9) 0px 0px 20px;
        height: fit-content;
        border-radius: 5px;
        gap: 2rem;
    }
    
    .main-pag-left-bottom h2 {
        font-size: 1.1rem;
    }

    .main-pag-right {
        width: 100%;
    }

    .main-pag-right h3 {
        font-size: 1.1rem;

    }

    .main-pag-right p {
        font-size: 14px;
    }
    
    .main-pag-foot-animation{
        top: 12px;
    }

    .footer-pag {
        height: 5rem;
        padding: 10px 0 0 10px;
        background-size: 50%;
    }

    .footer-pag img {
        height: 60px;
        padding: 0;
    }
}